*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.canvas{
    border: 5px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
}

.spacecraft{
    transform: rotate(-180deg);
    height: 90px;
    width: 90px;
}
